*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 540px) {
  html,
  body {
    overflow-x: hidden;
  }
}
